body {
  width: 100vw;
  margin: 0;
  font-size: 16px;
  letter-spacing: -1px;
  word-spacing: -2px;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('/fonts/Pretendard-Regular.woff') format('woff');
}
:root {
  --display1-bold: 700 3rem/3.5rem;
  --display2-bold: 700 2.5rem/3rem;
  --display2-medium: 500 2.5rem/3rem;
  --head1-bold: 700 2rem/2.5rem;
  --head1-medium: 500 2rem/2.5rem;
  --head2-bold: 700 1.75rem/2.25rem;
  --head2-medium: 500 1.75rem/2.25rem;
  --head3-bold: 700 1.5rem/2rem;
  --head3-medium: 500 1.5rem/2rem;
  --title1-semibold: 600 1.25rem/1.625rem;
  --title1-regular: 400 1.25rem/1.625rem;
  --title2-semibold: 600 1rem/1.5rem;
  --title2-regular: 400 1rem/1.5rem;
  --body1-bold: 700 1rem/1.5rem;
  --body1-medium: 500 1rem/1.5rem;
  --body1-regular: 400 1rem/1.5rem;
  --body2-bold: 700 0.875rem/1.25rem;
  --body2-medium: 500 0.875rem/1.25rem;
  --body2-regular: 400 0.875rem/1.25rem;
  --label1-bold: 700 1rem/1.5rem;
  --label1-regular: 400 1rem/1.5rem;
  --label2-bold: 600 0.875rem/1.125rem;
  --label2-regular: 400 0.875rem/1.125rem;
  --caption1-bold: 700 0.75rem/1rem;
  --caption1-regular: 400 0.75rem/1rem;
  --caption2-bold: 700 0.6875rem/0.875rem;
  --caption2-regular: 400 0.6875rem/0.875rem;
}
/* styled-components 사용예시
  const StTitleGet = styled.span`
  color: ${LightTheme.FONT_PRIMARY};
   // 필요없음font-weight: $ // 필요없음{LightTheme.FONT_BOLD};
  font: var(--display1-bold) normal sans-serif; ---> 이렇게 사용하면 됨 
` */
/* 인라인 사용예시 
<span
style={{
margin: '0px 0px 0 8px',
font: `var(--display1-bold) normal sans-serif`,
}}
>
*/
/* 주의할점!!!!  normal sans-serif 안붙이면 절대 속성안됨!!!!!! */
